<nav>
    <ul>
        <li><a href="{{ path("outing_listeSorties") }}" title="Home">Accueil</a></li>
        <li><a href="{{ path("user_monProfil")}}" title="monProfil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="deconexion">se deconnecter</a></li>

    </ul>

</nav>